<h1>New Entry</h1>

<form action="/places/<%= @place["id"] %>/entries" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <p>
    <label for="title_input">Title</label>
    <input id="title_input" type="text" name="entry[title]">
  </p>

  <p>
    <label for="description_input">Description</label>
    <textarea id="description_input" name="entry[description]"></textarea>
  </p>

  <p>
    <label for="occurred_on_input">Occurred on</label>
    <input id="occurred_on_input" type="date" name="entry[occurred_on]">
  </p>

  <button>Create Entry</button>
</form>